* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'lato', sans-serif;
}

.header-one,
.header-two {
    display: none;
}

.header-one {
    background-color: #272a31;
}

.header-two > img {
    width: 5rem;
}

header {
    position: absolute;
    z-index: 1;
}

.hero-section {
    position: relative;
    padding: 5rem 1rem;
    text-align: center;
    background-color: #f7f7f7;
    padding-top: 5rem;
}

.hero-article,
.about-foundation {
    max-width: 37.5rem;
    margin: auto;
}

.hero-article p,
.hero-article a {
    color: #272a31;
}

.hero-article > h1,
.hero-article > h2,
.main-program h3 {
    color: #ec5242;
}

.hero-article > h1 {
    font-weight: 400;
}

.hero-article > h2 {
    font-weight: 700;
    font-size: 28px;
    text-transform: uppercase;
    margin-bottom: 1rem;
}

.hero-article > p:first-of-type {
    border: 2px solid #e8e8e8;
    background-color: #ffffff;
    padding: 1rem;
    margin: 2rem 0 1rem;
}

.hero-article > p:nth-child(2n) {
    font-size: 14px;
    width: 80%;
    margin: auto;
}

.hero-article a {
    font-weight: 700;
    text-decoration: underline;
}

.pink-hr {
    width: 2rem;
    margin: 0.5rem auto 2rem;
    border-color: #ec5242;
}

.about-foundation {
    text-align: center;
    padding: 1rem;
}

.about-foundation > img {
    padding-top: 1rem;
    width: 10rem;
}

.past-summits {
    max-width: 37rem;
    padding: 2rem;
    display: flex;
    margin: auto;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.past-photo {
    max-width: 25rem;
    height: 15rem;
    margin-top: 2rem;
    width: 100%;
}

.recent {
    background: url(../assets/images/2022.jpg) no-repeat;
    background-size: cover;
}

.older {
    background: url(../assets/images/2021.jpg) 0 70% no-repeat;
    background-size: cover;
}

.sponsors {
    color: #ffffff;
    padding: 2rem;
    text-align: center;
    background-color: #272a31;
}

.sponsors > section {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
    justify-content: center;
}

.sponsors img {
    width: 8rem;
}

footer {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    gap: 3rem;
}

footer p {
    font-size: 14px;
}

footer > img {
    width: 5rem;
}