* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'lato', sans-serif;
}

.header-one,
.header-two {
    display: none;
}

.header-one {
    background-color: #272a31;
}

.header-two > img {
    width: 5rem;
}

header {
    position: absolute;
    z-index: 1;
}

.hero-section {
    position: relative;
    padding: 0 1rem 5rem;
    background-color: #d3d3d3;
}

.hero-section::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: url(./assets/images/hero-img.jpg) no-repeat;
    background-size: 100% 40vh;
    opacity: 0.2;
}

.hero-article {
    padding-top: 5rem;
}

.hero-article > h1,
.hero-article > h2 {
    color: #F21402;
}

.hero-article > h1 {
    font-weight: 400;
}

.hero-article > h2 {
    font-weight: 700;
    font-size: 28px;
    text-transform: uppercase;
    margin-bottom: 1rem;
}

.hero-article > p:first-of-type {
    border: 2px solid white;
    padding: 1rem;
    font-size: 16px;
    margin-bottom: 1rem;
}

.hero-article > p:nth-child(2n) {
    font-size: 24px;
    font-weight: 700;
}