* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'lato', sans-serif;
}

.btn {
    background-color: #ec5242;
    border: none;
    padding: 1rem;
    color: #ffffff;
}

.header-one,
.header-two {
    display: none;
}

.header-one {
    background-color: #272a31;
}

.header-two > img {
    width: 5rem;
}

header {
    position: absolute;
    z-index: 1;
}

.hero-section {
    position: relative;
    padding: 0 1rem 5rem;
    background-color: #d3d3d3;
}

.hero-section::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: url(./assets/images/hero-img.jpg) no-repeat;
    background-size: 100% 40vh;
    opacity: 0.2;
}

.hero-article {
    padding-top: 5rem;
}

.hero-article > h1,
.hero-article > h2,
.main-program h3 {
    color: #ec5242;
}

.hero-article > h1 {
    font-weight: 400;
}

.hero-article > h2 {
    font-weight: 700;
    font-size: 28px;
    text-transform: uppercase;
    margin-bottom: 1rem;
}

.hero-article > p:first-of-type {
    border: 2px solid white;
    padding: 1rem;
    font-size: 16px;
    margin-bottom: 1rem;
}

.hero-article > p:nth-child(2n) {
    font-size: 24px;
    font-weight: 700;
}

.main-program {
    background-color: #272a31;
    padding: 2rem 0;
}

.main-container > section {
    background-color: #3C3F46;
    margin: 1rem;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    padding: 0.5rem 1rem;
}

.main-program > hr {
    width: 2rem;
    margin: 0.5rem auto 2rem;
    border-color: #ec5242;
}

.main-program > h2 {
    text-align: center;
}

.main-program > h2, 
.main-program p {
    color: #ffffff;
}

.main-program p {
    font-size: 14px;
}

.main-heading {
    font-size: 18px;
    width: 7rem;
}

.main-container article {
    width: 60%;
}

.main-img {
    width: 8%;
    margin-right: 1rem;
}

.main-btn {
    width: 15rem;
    font-size: 18px;
    margin: 0 calc(50vw - 15rem / 2);
}

@media (min-width: 600px) {
    .main-heading {
        width: 20%;
    }
    
    .main-container article {
        width: 60%;
    }
    
    .main-img {
        width: 5%;
    }

    .main-btn {
        width: 20rem;
        margin: 0 calc(50vw - 20rem / 2);
    }
}